doctype html(lang='en')
head
    title Image Search Abstraction
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
body.container
    h1 API Basejump: Image Search Abstraction Layer
    h2 Usage
    h3 Image search
    p
        |This API performs a Bing image search. Set the query parameter
        code q
        | to the search query.
    ul
        li
            |Here the query parameter is set to&nbsp;
            q lolcat
            code
                a(href="/imagesearch?q=lolcat")=host + "/imagesearch?q=lolcat"
        li
            | An
            code offset
            | can be set to see more results
            code
                a(href="/imagesearch?q=lolcat&offset=10")=host + "/imagesearch?q=lolcat&offset=10"

    h3 Recent requests
    p Shows the last 10 requests sent to the server
    ul
        li
            code
                a(href="/latest")= host + "/latest"